# Dependencias
node_modules/

# Construcción y Empaquetado de Electron
dist/
release/
out/
build/
*.exe
*.dmg
*.AppImage
*.deb
*.rpm
*.snap

# Archivos Sensibles / Configuración Local
.env
.env.*
!.env.example
config.json

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos Sistema Operativo
.DS_Store
Thumbs.db

# Archivos IDE
.idea/
.vscode/
*.txt